@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

html,
body {
  margin: 0 auto;
  padding: 0 !important;
  box-sizing: border-box;
  font-size: 1rem;
  max-width: 1920px;
  min-width: 320px;
  height: 100%;
  font-family: 'Roboto', sans-serif; 
  
}

.h1, h1 {
    font-size: 3rem;
}

.h2, h2 {
    font-size: 2rem;
}

.section {
    width: 1920px;
    padding: 0;
}
.container {
    width: 1113px;
    padding: 0;
}

.section_first {
    background: #EEEFF1;
}  

.logo_menu,
.write_me {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    margin-top: 57px;
}

.write_me {
    margin-bottom: 146px;
}

.menu {
    padding: 0;
    margin-top: 79px;
}

.menu li {
    display: inline-flex;
    flex-direction: row;
    list-style-type: none;
    text-decoration: none;
    border: 0;
    outline: none;
    margin-right: 36px;   
}

.nav_li  {
    font-weight: 500;
    font-size: 1rem;
    line-height: 26px;
    color: #000000;  
}

.dropdown-menu {
    display: none;
    border: none;
    outline: none;
    /*margin-left: -1em;*/
    list-style-type: none;
    font-size: 1.2rem;
    font-weight: 600;
}
  
#dropdownMenuButton {
    position: absolute;
    top: 1em;
    background-color: #ffffff;
    color: #000000;
    border: none;
    outline: none;
    font-size: 1.5rem;
}

.row_2 {
    margin-top: 162px;
}

p,
h1 {
    margin-bottom: 60px;
}

.button_write {
    width: 225px;
    height: 65px;
    background: #34547A;
    color: #ffffff;
}

.about_me {
    margin-top: 112px;
}

h2 {
    margin-bottom: 50px;
}

.p_text {
    text-align: center;
    margin-bottom: 100px;
}

.section_third {
    background:  #34547A;
}

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 30px;
}

.img_gallery {
    width: 46.6px;
    height: 50px;
}

.p_project {
    color: #ffffff;
}

.section_fifth, .section_eight {
    background: #EEEFF1;
}

.work {
    flex-direction: column;
    margin-top: 100px;
    text-align: center;
}

.video {
    margin-bottom: 100px;
}

.face_img {
  max-width: 100%;
  max-height: auto;
  margin-top: 150px;
  margin-bottom: 150px;

}
.li_about {
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: solid 2px steelblue;
    opacity: 0.5;
    
}
.list_about {
    margin-right: 200px;
    padding-left: 0px;
}
.collage {
    max-width: 100%;
    max-height: auto;
}
.col_colage {
    margin: 0;
    padding: 0;
    }
.view_img {
    width: 150px;
    height: 90px;
    z-index: 1000;
    margin: 0;
    padding: 0;
    position: absolute;
    
    
    

}
.row_8 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 1;
    justify-content: center;
    align-items: center;
}
.row_9 {
    max-width: 1110px;
    min-width: 320px;
    max-height: 120px;
    min-height: 60px;
    display: flex;
    justify-content: center;
}
.micro_container {
    margin-top: 72px;
    margin-bottom: 72px;

}
.row_10, .row_12, .row_11 {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.row_10, .row_11 {
    margin-bottom: 50px;
}
.h_3 {
    margin-top: 50px;
    font-size: 2rem;
    
    
}
.form-group {
    max-width: 540px;
    max-height: 175px;
}
footer {
    background:  #34547A;
    width: 1920px;
    height: 151px;
}
.row_13 {
    color: azure;
}
.footer_left {
    margin-top: 40px;
}
.vc_image {
    display: flex;
    flex-direction: row-reverse;
}
.img_vc {
    margin-right: 20px;
    margin-top: 40px;
}
.my_form {
    display: flex;
    justify-content: center;
}
.form-row {
    display: flex;
    justify-content: space-between;
}   
.form-group {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}    
.btn_form {
    display: block;
    margin: 40px auto 50px auto; 
}
.inputfield {
    position:relative;
    line-height: 100px!important;   
}
.p_2 {
    text-align: center;
    opacity: 0.5;
}
